.order-table{
    font-size: small;
    border-collapse:collapse;
}

.order-table-header{
    font-size: small;
    text-align:center;
    background:none repeat scroll 0 0 #E5E5E5;
    border-bottom:1px solid #BBBBBB;
    padding:16px;
}

.order-table-odd-row{
    font-size: small;
    text-align:center;
    background:none repeat scroll 0 0 #FFFFFF;
    border-top:1px solid #BBBBBB;
}

.order-table-even-row{
    font-size: small;
    text-align:center;
    background:none repeat scroll 0 0 #F9F9F9;
    border-top:1px solid #BBBBBB;
}
.tool-image_padding{
    padding-right: 5px;
}